@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap');

body {
    margin: 0;
    height: 100%;
    width: 100%;
    background: rgb(245, 255, 255);
    font-family: 'Jost', sans-serif;
}

li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
#main-nav {
    padding: 0 30px 0 0;
    height: fit-content;
    background: rgb(9, 9, 48);
    display: flex;
    position: fixed;
    top: 0px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    transition: 0.3s;
    color: white;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.404);
}
#logo{
    width: 250px;
    font-size: 1.3em;
    cursor: pointer;
    clip-path: polygon( 0% 0%, 85% 0%, 100% 100%, 0% 100%);
    background: rgb(29, 29, 63);
    padding: 7px 0 9px 50px;
}
#main-nav a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: white;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    transition: 0.2s;
    clip-path: polygon( 0% 0%, 85% 0%, 100% 100%, 15% 100%);
}
#main-nav a:hover{
    background: rgb(29, 29, 63);
    border-bottom: 2px solid lime;
    text-decoration: none;
}

#main-nav > ul{
    display: flex;
    height: fit-content;
    justify-content: space-between;
    margin: 0;
    font-size: 1.1em;
    width: 80%;
}

#landing-nav{
    display: flex;
    background: #fff;
    border-radius: 0 0 25px 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.281);
    height: fit-content;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

#landing-nav ul {
    display: flex;
    height: fit-content;
    justify-content: space-between;
    margin: 0;
    font-size: 1.1em;
    width: 50%;
}

#logo-landing{
    padding:10px 0;
    margin: 0 50px 0 0;
    font-size: 1.4em;
}

#landing-nav a{
    display: block;
    width: 100px;
    padding:12px 0;
    text-decoration: none;
    color: rgb(9, 9, 48);
}



@keyframes slide-left {
    0% {
        transform: translateX(42vw);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-right {
    100% {
        transform: translateX(42vw);
        opacity: 0;
    }
}

@media (max-width:730px) {
    .nav--links {
        display: none;
        order: 2;
    }

    #menu-button>img {
        display: unset;
    }

    #menu-button {
        order: 1;
    }
}

@media (max-width: 420px) {}