:root{
    --primary-color: rgb(9, 9, 48);
}
body {
    margin: 0;
    height: 100%;
    width: 100%;
    background: rgb(245, 255, 255);
    font-family: 'Jost', sans-serif !important;
}

li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
a{
    text-decoration: none;
}
#main-nav {
    padding: 0 30px 0 0;
    height: fit-content;
    background: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    transition: 0.3s;
    color: white;
    z-index: 999;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.404);
}
#logo{
    width: 250px;
    font-size: 1.3em;
    cursor: pointer;
    clip-path: polygon( 0% 0%, 85% 0%, 100% 100%, 0% 100%);
    background: rgb(29, 29, 63);
    padding: 7px 0 9px 50px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    color: white;
    transition: 0.4s;
}
#logo:hover{
    background: rgb(29, 29, 63) !important;
}
#main-nav ul a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: white;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    transition: 0.4s;
    clip-path: polygon( 0% 0%, 85% 0%, 100% 100%, 15% 100%);
}
#main-nav a:hover{
    background: rgb(29, 29, 63);
    border-bottom: 2px solid lime;
    text-decoration: none;
}

#main-nav > ul{
    display: flex;
    height: fit-content;
    justify-content: space-between;
    margin: 0;
    font-size: 1.1em;
    width: 80%;
}

#landing-nav{
    display: flex;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.538);
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    padding: 0 40px;
    z-index: 80;
}


#logo-landing{
    padding:10px 0;
    margin: 0 50px 0 0;
    font-size: 1.4em;
}

#landing-nav a{
    display: block;
    padding:12px 8px;
    text-decoration: none;
    color: rgb(9, 9, 48);
}
#home_hero{
    background: var(--primary-color);
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    overflow: hidden;
}
#home_hero > div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    animation: slideup ;
}
#home_hero h2{
    line-height: 1.4em;
    font-size: 2.7em;
}
#home_hero h2 > span{
   font-weight: 700;
   color: rgb(10, 232, 10);

}
#home_hero2{
    margin: -80px auto 50px auto;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.538);
    width: 40%;
    font-weight: 600;
    background-color: #fff;
    z-index: 79;
    position: relative;
}
#home_hero2 p{
    margin: 0;
    text-align: center;
}
#hero_btns{
    display: flex;
    width: 60%;
    gap: 20px
}
#hero_btns a{
    padding: 8px 20px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.585);
    font-size: 1.5em;
    text-decoration: none;
    font-weight: 600;
    color: white;
    border: 2px solid white;
    transition: 0.25s;
}
#hero_btns a:hover{
    box-shadow: 0 9px 12px rgba(0, 0, 0, 0.548);
    transform: translateY(-5px) scale(1.04);
}
#home_signup{
    background: #fff;
    color: var(--primary-color) !important;
    border: none;
}
.authbg{
    background-color: #f9f9ff;
    background: radial-gradient(circle, transparent 20%, #f9f9ff 20%, #f9f9ff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #f9f9ff 20%, #f9f9ff 80%, transparent 80%, transparent) 30px 30px, linear-gradient(#c5c8ff 2.4000000000000004px, transparent 2.4000000000000004px) 0 -1.2000000000000002px, linear-gradient(90deg, #c5c8ff 2.4000000000000004px, #f9f9ff 2.4000000000000004px) -1.2000000000000002px 0;
    background-size: 60px 60px, 60px 60px, 30px 30px, 30px 30px;
    margin-top: 8%;
    font-family: 'Jost', sans-serif;
}
.authbg form button{
    background: rgb(4, 53, 121) !important;
    transition: 0.25s;
    font-weight: 700;
}
.authbg form button:hover{
    background: rgb(3, 39, 89) !important;
    scale: 1.03;
}
.dashboard_dropdown{
    position: absolute !important;
    top: 55px;
    left: 25px;
    background: var(--primary-color);
    margin: 0;
    padding: 0 !important;
    display: none;
    width: fit-content;
    border: 1px solid rgb(99, 99, 99);
}
.dashboard_dropdown a{
    clip-path: none !important;
    padding: 5px 10px !important;
    width: auto !important;
}
.dashboard_dropdown a:hover{
    background: rgba(29, 29, 63, 0.638);
}
#dropdown{
    position: relative;
    cursor: pointer;
}
.main_section{
    height: 91vh;
    padding: 20px;
}
#searchbar{
    background: rgb(29, 29, 63) !important;
    padding: 8px 16px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#search_input{
    color: #fff;
    background: transparent;
    padding: 0;
    width: 100%;
    border: none;
}
#search_input:focus{
    outline: none;
}
#search_btn{
    color: #fff;
    cursor: pointer;
}
.table_container{
    margin-top: 50px;
}
.user_card{
    color: white;
    background: var(--primary-color);
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    box-shadow: 0 5px 11px rgba(0, 0, 0, 0.558);
    padding: 5px 15px 5px 15px;
    gap: 40px;
    align-items: center;
    animation: fadeup 0.4s;
}
.user_card div>img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid rgb(141, 141, 141);
    display: inline;
}
.user_column{
    display: flex;
    gap: 8px;
    width: 300px;
    align-items: center;
    /* justify-content: space-between; */
}
.user_name{
    width: 200px;
}
.user_card p{
    margin: 0px;
}
.user_level{
    font-size: 0.8em;
    margin-top: 4px;
    font-weight: 600;
}
.user_link:hover{
    text-decoration: none;
}
.matric_header{
    width: 150px;
    padding-left: 25px;
}
.update_header{
    width: 230px;
    padding-left: 65px;
}
.gadget_header{
    width: 350px;
    padding-left: 25px;
    text-align: center;
}
.hover_card{
    transition: 0.2s;
}
.hover_card:hover{
    background: rgb(20, 20, 58);
    transform: translateY(-2px);
}
.gadget_column{
    display: flex;
    gap: 12px;
    width: 350px;
    justify-content: flex-end;
    align-items: center;
}
.gadget_column > p, .view_btn, .mat_no, .last_update{
    background:  rgb(2, 2, 26);;
    padding: 5px 10px;
    height: fit-content;
}
.mat_no{
    width: 150px;
    text-align: center;
}
.last_update{
    width: 230px;
    text-align: center;
}
.view_btn{
    background:  rgb(55, 177, 2);;
    padding: 5px 10px;
}
.user_card a{
    color: white;
}
.user_card a:hover{
    text-decoration: none;
}
.missing_badge{
    color: rgb(215, 45, 45) !important;
    font-size: 1.4em;
    padding: 4px 4px -34px 4px;
    /* margin-bottom: 25px;} */
}
.upload_text{
    height: 91vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
   
}
.upload_text > div > h2{
    font-weight: 600;
    text-align: center;
    font-size: 2.5em;
    margin-top: 15px;
}
.upload_div_1{
    animation: fadeup 0.5s;
}
.download_template{
    display: block;
    padding: 12.5px 25px;
    margin: 25px auto 15px auto;
    border: none;
    background: var(--primary-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.539);
    transition: 0.2s;
    cursor: pointer;
}
.download_template:hover{
    scale: 1.06;
}
.download_template a{
    color: white;
    font-size: 1.3em;
}
.download_template a:hover{
    font-weight: 800px;
    text-decoration: none;
}
.excel_img{
    margin-top: 30px;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.453);
    border-radius: 5px;
    animation: fadeup 0.8s;
    height: 250px;
    object-fit: cover;
    object-position: 0 0;
}
.upload_steps ul{
    margin: 0;
}
.upload_steps{
    background: var(--primary-color);
    color: white !important;
    width: 98.55vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.upload_steps li{
    margin-bottom: 10px;
}
.upload_steps>h3{
    text-align: center;    
    font-weight: 600;
    margin: 30px 0 20px 0;
    font-size: 2.3em;
}
.upload_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.upload_form label{
    display: none;
}
.upload_form input{
    padding: 0 0 0 60px;
}
.upload_form button{
    color:var(--primary-color);
    background: #fff;
    font-size: 1.3em;
    margin-bottom: 50px;
    font-weight: 600;
}
.gadget_title, .gadget_owner, .date_reported{
    font-size: 1.2em;
    line-height: 1.1em;
}
.date_reported, .gadget_owner{
    background: rgb(4, 4, 30);
    padding: 7px 14px;
}
.gadget_id{
    font-size: 0.8em;
    color: rgb(165, 165, 165);
}
.gadget_info, .owner, .date_reported_wrapper{
    width: 25%;
}
.button_wrapper{
    display: flex;
    justify-content: flex-end;
    width: 10%;
}
.flex_justify_center{
    display: flex !important;
    justify-content: center !important;
    gap: 18px;
}
.dash_stats{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    margin: 30px 0 0 0;
}
.dash_stats> div{
    width: 100%;
    background: rgb(29, 29, 63);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

}
.dash_stats p{
    font-size: 3em;
}
.dash_stats h5{
    font-size: 1.2em;
}
.owner, .date_reported_wrapper{
    text-align: center;
}
.gadgets_wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, 70px);
    grid-auto-flow: column dense;
    gap: 10px;
    height: 270px;
}
.dash_report_missing, .gadgets_wrapper{
    padding: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.559);
    background: rgb(46, 46, 84);
}
.dash_report_missing> form{
    margin-block: 20px;
}
.dash_missing{
    font-size: 1.5em;
    color: #fff;
    background: var(--primary-color);
    padding: 10px;
    margin: 30px 0 0 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.559);
}
.dash_reported{
    font-size: 0.8em;
    color: aquamarine;
}
@keyframes slideup {
    0% {
        transform: translateY(42vw);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeup {
    0% {
        transform: translateY(25px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fadedown {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    
    100% {
        transform: translateY(25px);
        opacity: 0;
    }
}

@keyframes slide-right {
    100% {
        transform: translateX(42vw);
        opacity: 0;
    }
}

@media (max-width:730px) {
    .nav--links {
        display: none;
        order: 2;
    }

    #menu-button>img {
        display: unset;
    }

    #menu-button {
        order: 1;
    }
}
