{% load crispy_forms_tags %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %} Dashboard - Gadget-Tracker {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" /> 
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  </head>

  <body>
    {% include 'nav.html' %}
    <section class="main_section" id="btn;" onclick="removeDropDown()">
      <h2 class="dash_missing">Missing Gadgets</h2>
      <div class="gadgets_wrapper">
        {% for gadget in missing_gadgets %}
          {% if gadget.missing %}
            <a class="user_card hover_card" href="{% url 'missing_gadgets' %}">
              <div>
                <p class="dash_gadget">{{gadget.model|title}} ({{gadget.color|title}})</p>
                <p class="dash_reported">{{gadget.missing_date}}</p>
              </div>
              <p class="dash_owner">Owner: {{gadget.owner.full_name|title}}</p>
                <!-- -  - {{gadget.device_id}} -   - date reported:  -->
            </a>
          {% endif %}
        {% endfor %}
      </div>
      <h2 class="dash_missing" onclick="hello()">Report a Missing Gadget</h2>
      <!-- Modal -->
      <!-- <div class="modal fade" id="markFoundModal{{ gadget.pk }}" tabindex="-1" role="dialog" aria-labelledby="markFoundModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="markFoundModalLabel">Are you sure you want to report this gadget as missing?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer flex_justify_center">
                    <a href="" type="button" class="btn btn-primary">Yes</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
      </div> -->
      <div class="dash_report_missing">
          <form method="GET" id="searchbar">
            <input name="search" type="search" placeholder="Search for a gadget..." id="search_input" />
            <div id="search_btn" class="bx bx-search" ></div>
          </form>
          {% for gadget in gadgets %}
          <div class="user_card dash_card">
            <p>{{gadget.model|title}} ({{gadget.color|title}})</p>
            <div class="button_wrapper">
              <button type="button" class="btn" data-toggle="modal" data-target="#markFoundModal{{ gadget.pk }}" style="background: orangered; color: #e8e9ff;">Report as missing</button>
          </div>
            <p>Owner: {{gadget.owner.full_name|title}}</p>
          </div>
          {% endfor %}
      </div>
      <h2 class="dash_missing">All Stats</h2>
      <div class="dash_stats">
        <div>
            <h5>Total Population</h5>
            <p>{{ users_count.total_count}}</p>
        </div>
        <div>
            <h5>Number of Students</h5>
            <p>{{ users_count.student_count }}</p>
        </div>
        <div>
            <h5> Number of Staff </h5>
            <p>{{ users_count.staff_count}}</p>
        </div>
        <div>
            <h5>Number of Vendors</h5>
            <p>{{ users_count.vendor_count}}</p>
        </div>      
      </div>
      <a href="{% url 'edit'}"></a>
      <script
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"
        ></script>
      </section>
  </body>
  <script>
    function hello (){
      console.log("hello console")
    }
  </script>
  <style>
    body{
      background-color: #ffffff;
      background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #ffffff 33px ), repeating-linear-gradient( #c4c8ff55, #c4c8ff );
      /* position: fixed; */
    }
  </style>
</html>
