{% extends 'base.html' %}
{% load static %}

{% block content %}

<section id="home_main">
  <div id="home_hero">
    <div>
      <h2>Safeguarding your Campus, <br>
         your Gadgets and your <br>
         <span>Peace of Mind</span></h2>
      <div id="hero_btns">
        <a href="{% url 'login' %}" role="button" >Login</a>
        <a href="{% url 'signup' %}" role="button" id="home_signup">Get Started</a>
      </div>
    </div>
    <img src="{% static 'images/bg.png' %}" alt="">
  </div>
  <div id="home_hero2">
    <p>"Gadget Guardian is a cutting-edge e-facility designed to enhance campus security. It allows perssonel to efficiently register and monitor student devices, thereby improving response times and providing a robust defense against theft."</p>
  </div>
  <!-- <div id="faqs">
    <h2>Frequently Asked Questions</h2>
  </div> -->

</section>

{% endblock content %}