{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<nav id="main-nav">
    <div id="logo">Gadget Guardian</div>
    <ul>
        <li><a class="" href="{% url 'all_students' %}">Students</a></li>
        <li><a class="" href="{% url 'all_staff' %}">Staff</a></li>
        <li><a class="" href="{% url 'all_vendors' %}">Vendors</a></li>
        <li><a class="" href="#">Missing Gadgets</a></li>
        <li><a class="" href="{% url 'logout' %}">Logout</a></li>
    </ul>
</nav>

<script src="{% static 'js/script.js' %}"></script>