{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<nav id="main-nav">
    <div id="logo">Gadget Guardian</div>
    <ul>
        <li><a class="" href="{% url 'all_students' %}">Students</a></li>
        <li><a class="" href="{% url 'all_staff' %}">Staff</a></li>
        <li><a class="" href="{% url 'all_vendors' %}">Vendors</a></li>
        <li><a class="" href="#">Missing Gadgets</a></li>
        <li><a class="" href="{% url 'logout' %}">Logout</a></li>
    </ul>
</nav>
<nav id="mobile-nav">
    <ul>
        <li><a class="mobile-nav-links" href="#">About</a></li>
        <hr>
        <li><a class="mobile-nav-links" href="#">FAQs</a></li>
        <hr>
        <li><a class="mobile-nav-links" href="#">Contact</a></li>
    </ul>
    <hr>
    <a href="https://github.com/Mannuel25/Gadget-Guardian/"><img style="height: 30px;"
            src="{% static 'images\github.png' %}" alt=""></a>
    </div>
</nav>

<script src="{% static 'js/script.js' %}"></script>